.container {
  font-family: Avenir, Calibri, sans-serif;
  max-width: 600px;
  padding: 10px;
  margin: auto;
}

.title {
  font-size: 39px;
  line-height: 62px;
}

.content {
  font-size: 24px;
  line-height: 40px;
}

.link {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 10px 14px 6px;
  border-radius: 5px;
  background: hsl(52, 100%, 50%);
  font-size: 24px;
  font-weight: bold;
  transition: background-color 0.2s;
}

.link:hover {
  text-decoration: none;
  background: hsl(140, 100%, 80%);
  transition: background-color 0.2s;
}
